$maincolor:#3a3a3a;

/**
 * Heading
 */

.masthead{
	padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    background-color: $maincolor;
}

.masthead .masthead-logo {
    float: left;
    font-size: 1.5rem;
    color: #fff;
    span{
    	font-weight: 600;
    }
    @include media-query($on-laptop) {
        display: block;
        float: none;
    }
}
.masthead-nav{
	float: right;
    margin-top: .5rem;
    a{
    	color:#eee;
    	margin-right: 1.25rem;
    	&:last-child{
    		margin-right: 0;
    	}
    	&:hover{
    		color:#fff;
    	}
    }
    @include media-query($on-laptop) {
        float: none;
    	display: block;
        padding-top: 1rem;
    	border-top: 0.075rem solid rgba(255,255,255,0.25);
    }
}

/**
 * homepage
 */

.article-lists{
    @extend .row;

}

.article-item{
    background: #fff;
    border:1px solid #e9e9e9;
    float: left;
    display: inline;
    min-height: 1px;
    position: relative;
    margin-left: 2.70000%;
    margin-bottom: 1.7em;
    @extend .zeen-4;
    &:nth-of-type(3n+1){
        margin-left: 0;
    }
}

@media only screen and (max-width: 767px) {
  .article-lists {
    max-width: 767px;
  }
  .article-lists [class*="article"] {
    width: 100%;
    margin-left: 0;
  }
}


.article-category{
    border-bottom: 2px solid #1c94c6;
    color: #1c94c6;
    
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding: 10px 20px;
    h2{
        margin-bottom: 0;
        font-size: 1em;
    }
}

.article-content{
    height: 186px;
    margin-top: 20px;
    padding: 0 20px;
    position: relative;
    display: block;
}

.article-title{
    display: block;
    font-size: 1.5em;
    max-height: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    a{
        color: #262626;
        display: table-cell;
        width: 100%;
    }
}



/**
 * footer
 */

footer{
	background: $maincolor;
	h1{color:#fff;}
	color:rgba(#fff,0.9);
	padding:3rem 0;
	a{
		color:#eee;
	}
}
