$maincolor:#3a3a3a;

/**
 * Heading
 */

.masthead{
	padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    background-color: $maincolor;
}

.masthead .masthead-logo {
    float: left;
    font-size: 1.5rem;
    color: #fff;
    span{
    	font-weight: 600;
    }
    @include media-query($on-laptop) {
        display: block;
        float: none;
    }
}
.masthead-nav{
	float: right;
    margin-top: .5rem;
    a{
    	color:#eee;
    	margin-right: 1.25rem;
    	&:last-child{
    		margin-right: 0;
    	}
    	&:hover{
    		color:#fff;
    	}
    }
    @include media-query($on-laptop) {
        float: none;
    	display: block;
        padding-top: 1rem;
    	border-top: 0.075rem solid rgba(255,255,255,0.25);
    }
}

/**
 * homepage
 */

.article-lists{
    @extend .row;
}

.article-item{
    float: left;
    display: inline;
    min-height: 1px;
    position: relative;
    margin-left: 3.09091%;
    @extend .zeen-4;
    &:nth-of-type(3n+1){
        margin-left: 0;
    }
}

@media only screen and (max-width: 767px) {
  .article-lists {
    max-width: 767px;
  }
  .article-lists [class*="article"] {
    width: 100%;
    margin-left: 0;
  }
}


/**
 * footer
 */

footer{
	background: $maincolor;
	h1{color:#fff;}
	color:rgba(#fff,0.9);
	padding:3rem 0;
	a{
		color:#eee;
	}
}
