$merah: #d40000;
$biru:#02659c;
$orange:#ff6600;
$bgColor:#e6e6e6;

$main-color: #c0392b;
$sec-color: #e67e22;
$mainFontCol: #444;

// $mainFont: "Quicksand", sans-serif;
$mainFont: "arial", sans-serif;